@import '_login';

html, body {
  font-size: 100%;
}

.header-bar {
  background-color: #FFF;
  padding: 0.75em;
  margin-bottom: 1.5em;
  border-bottom: 1px #CCC solid;

  h1 {
    margin: 0;
    display: inline-block;
    font-size: 48px;
    small {
      font-weight: 300;
    }
  }

  .app-login {
    float: right;
    font-weight: 300;
    input, button {
      display: inline;
      vertical-align: text-top;
    }
    input {
      display: inline;
      max-width: 150px;
    }

    a {
      color: #777;
      font-size: 0.75em;
    }
  }

  .user-panel {
    float: right;
  }
}

.main-input {
  margin-bottom: 1em;
}

.bookmark:hover {
  background-color: rgba(255, 236, 139, 0.5);
}

.bookmark {
  padding: 0.5em;
  display: inline-block;
  width: 100%;
  img {
    max-width: 16px;
    max-height: 16px;
    vertical-align: baseline;
    margin-right: 8px;
  }
}
