{{input type='text' classNames='form-control' autofocus='autofocus' value=bm.url on='key-up'}}

{{#if isSaving}}
  <div class='text-center'>
    <h1>{{fa-icon icon='cog' spin=true}}</h1>
  </div>
{{/if}}
