<div class="text-center">
  {{#if isFetching}}
    <h1>
      {{fa-icon icon='cog' spin=true}}
    </h1>
  {{/if}}
</div>

<div class='row'>
  <div class="col-xs-2">
    {{#if bm.imgUrl}}
      <img class='img-responsive' src="{{bm.imgUrl}}" alt="sock image preview">
    {{/if}}
  </div>
  <div class="col-xs-10">
    <h2>{{bm.title}}</h2>
    <h4>{{bm.desc}}</h4>
  </div>
</div>
